# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.env
.env.*
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Builds/Artifacts
dist/
build/

# Data (필요 시 조정)
data/
*.log
